name:  Unchained Launcher CI Tests

on:
  push:
    branches:
        - 'main'
  pull_request:
    branches:
        - 'main'
        - 'series/*'

env:
  DOTNET_VERSION: '10.x'

# TODO: Run integration tests. Set up some kind of stubbed environment for the tests to run in.
jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]
    runs-on: windows-latest
    env:
      GUI_Project_Path: UnchainedLauncher.GUI
    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.AUTOMATED_CODE_CHANGE }}

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}


    - name: Format source
      run: dotnet format
    - uses: stefanzweifel/git-auto-commit-action@v7
      id: auto-commit-action
      with:
        commit_message: '[GHA] Format Source'
        token: ${{ secrets.AUTOMATED_CODE_CHANGE }}


    - name: Fail if changes were detected
      if: steps.auto-commit-action.outputs.changes_detected == 'true'
      run: exit 1

    - name: Install dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build -c ${{ matrix.configuration }}
    - name: Run Unit Tests
      run: dotnet test -c ${{ matrix.configuration }} .\UnchainedLauncher.Core.Tests.Unit --logger:"console;verbosity=detailed"

    - name: Package ${{ matrix.configuration }} binaries
      run: dotnet publish UnchainedLauncher.GUI -c ${{ matrix.configuration}} -o out/

    - name: Upload ${{ matrix.configuration }} Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: UnchainedLauncher_${{ matrix.configuration }}_${{ github.sha }}
        path: out

  build-pakscanner:
    strategy:
      matrix:
        platform: [Win64, x64]
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Install dependencies
      run: dotnet restore

    - name: Package PakScannerApp binaries
      run: >
        dotnet publish UnchainedLauncher.PakScannerApp
        -c Release 
        /p:PublishProfile=PakScanner_Release_${{ matrix.platform }} 
        -o out/

    - name: Upload PakScannerApp Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: PakScanner_Release_${{ matrix.platform }}_${{ github.sha }}
        path: out