name:  Unchained Launcher Tag Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

env:
  DOTNET_VERSION: '10.x'
  
# TODO: Run integration tests. Set up some kind of stubbed environment for the tests to run in.
jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]
    runs-on: windows-latest
    env:
      GUI_Project_Path: UnchainedLauncher.GUI
    steps:
    - uses: actions/checkout@v4
    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c ${{ matrix.configuration }}
    - name: Run Unit Tests
      run: dotnet test -c ${{ matrix.configuration }} .\UnchainedLauncher.Core.Tests.Unit  --logger:"console;verbosity=detailed"
      
    - name: Package ${{ matrix.configuration }} binaries
      run: dotnet publish -c ${{ matrix.configuration}} -o out/

    - name: Upload ${{ matrix.configuration }} Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: UnchainedLauncher_${{ matrix.configuration }}_${{ github.sha }}
        path: out

  build-pakscanner:
    strategy:
      matrix:
        platform: [Win64, x64]
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Install dependencies
      run: dotnet restore

    - name: Package PakScannerApp binaries
      run: >
        dotnet publish UnchainedLauncher.PakScannerApp
        -c Release 
        /p:PublishProfile=PakScanner_Release_${{ matrix.platform }} 
        -o out-scanner/

    - name: Upload PakScannerApp Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: PakScanner_Release_${{ matrix.platform }}_${{ github.sha }}
        path: out-scanner

  publish:
    needs: [build, build-pakscanner]
    runs-on: windows-latest
    steps:
    - name: Download Debug Artifacts
      uses: actions/download-artifact@v4.1.8
      with:
        name: UnchainedLauncher_Debug_${{ github.sha }}
        path: results/Debug

    - name: Download Release Artifacts
      uses: actions/download-artifact@v4.1.8
      with:
        name: UnchainedLauncher_Release_${{ github.sha }}
        path: results/Release

    - name: Download Scanner Artifacts
      uses: actions/download-artifact@v4.1.8
      with:
        pattern: PakScanner_Release_*
        path: results/Scanner

    - name: Set file names
      run: |
        mv results/Debug/UnchainedLauncher.exe UnchainedLauncher_dbg.exe
        mv results/Debug/UnchainedLauncher.pdb UnchainedLauncher_dbg.pdb
        mv results/Release/UnchainedLauncher.exe UnchainedLauncher.exe

    - name: Zip scanner
      shell: pwsh
      run: |
        Compress-Archive -Path results/Scanner/PakScanner_Release_Win64_${{ github.sha }}/* -DestinationPath PakScanner_Win64.zip
        Compress-Archive -Path results/Scanner/PakScanner_Release_x64_${{ github.sha }}/* -DestinationPath PakScanner_x64.zip

    - name: Create GitHub Release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref }}
        release_name: "Release ${{ github.ref }}: ${{ env.tag_annotation }}"
        draft: false
        prerelease: true
        files: |
          UnchainedLauncher_dbg.exe
          UnchainedLauncher_dbg.pdb
          UnchainedLauncher.exe
          PakScanner_Win64.zip
          PakScanner_x64.zip
        body: |
          ${{ github.ref }}